<div class="ui-s960">
    <ui-card style="max-width: 700px; margin: auto;">
        <ui-toolbar class="flat">
            <button class="ui-button flat icon" routerLink="/home" href="/home" uiRipple>
                <i class="material-icons">arrow_back</i>
            </button>
            <div class="align-right">
                <ui-input-container>
                    <input type="text" name="filtroNome" [(ngModel)]="filtro.nome" uiInput [persistPlaceholder]="true" placeholder="Pesquisa">
                </ui-input-container>
                <button class="ui-button flat icon" uiRipple (click)="filtrar()">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </ui-toolbar>

        <ui-data-table>
            <tbody>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th class="align-right"></th>
                </tr>

                <tr *ngFor="let recurso of recursos">
                    <td>{{recurso.codigo}}</td>
                    <td>{{recurso.nome}}</td>
                    <td>{{recurso.status}}</td>
                    <td class="align-right">
                        <button style="cursor: pointer;" class="ui-button flat icon" uiRipple [routerLink]="['/recursos/info', recurso._id]">
                            <i class="material-icons">edit</i>
                        </button>

                        <button style="cursor: pointer;" class="ui-button flat icon" uiRipple (click)="deletar(recurso._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="4" class="align-right">
                        <div class="ui-button-container align-right">
                            <span class="pagination">
                                1-10 de 10
                            </span>
                            <button class="ui-button flat icon" uiRipple disabled>
                                <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                            <button class="ui-button flat icon" uiRipple disabled>
                                <i class="material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>

    <!-- <div class="ui-float-container">
        <button class="ui-button fab primary icon" title="Cadastrar" uiRipple>
            <i class="material-icons">add</i>
        </button>
    </div> -->
</div>

<style>
    .ui-float-container {
        right: calc(50% - (700px / 2) - 79px);
        float: right;
        margin-top: -200px;
        margin-right: 50px;
    }
</style>