<div class="ui-s960">
	<ui-card>
		<ui-toolbar class="flat">
			<button class="ui-button flat icon" routerLink="/home" href="/home" uiRipple>
				<i class="material-icons">arrow_back</i>
			</button>
		</ui-toolbar>

		<!--<pre>{{ laboratorio | json }}</pre>-->

		<form (ngSubmit)="cadastar()" #laboratorioForm>
			<ui-card-content>
				<div class="ui-flex-container break-on-s960">
					<ui-input-container style="max-width: 200px;">
						<input type="number" [(ngModel)]="laboratorio.codigo" name="codigo" uiInput required>
						<label>Codigo</label>
					</ui-input-container>

					<ui-input-container>
						<input type="text" [(ngModel)]="laboratorio.nome" name="nome" uiInput>
						<label>Nome</label>
					</ui-input-container>
				</div>

				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="text" [(ngModel)]="laboratorio.descricao" name="descricao" uiInput>
						<label>Descrição</label>
					</ui-input-container>
				</div>
			</ui-card-content>

			<div class="ui-button-container cover">
				<button type="submit" class="ui-button raised success" uiRipple>SALVAR</button>
				<button mat-button color="warn" routerLink="/laboratorios" href="/laboratorios">CANCELAR</button>
			</div>
		</form>
	</ui-card>
</div>