<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
	<mat-card style="max-width: 600px; margin: auto;">
		<button type="button" mat-icon-button routerLink="/usuarios/filtro">
			<i class="material-icons">arrow_back</i>
		</button>

		<mat-card-content>
			<mat-form-field style="width: 130px; margin-right: 10px;">
				<input matInput type="number" [(ngModel)]="usuario.matricula" name="matricula" placeholder="Matricula" autocomplete="off"
				 required>
			</mat-form-field>

			<mat-form-field style="width: 400px;">
				<input matInput type="text" [(ngModel)]="usuario.nome" name="nome" placeholder="Nome" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 130px; margin-right: 10px;">
				<input matInput uiMaskCpf type="text" [(ngModel)]="usuario.cpf" name="cpf" placeholder="CPF" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 400px;">
				<input matInput type="text" [(ngModel)]="usuario.email" name="email" placeholder="E-mail" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 170px; margin-right: 10px">
				<mat-select placeholder="Selecione um grupo" name="grupo" [(ngModel)]="usuario.grupo" required>
					<mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
						{{ grupo.nome }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field style="width: 200px;">
				<input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="usuario.senha" name="senha" placeholder="Senha" autocomplete="off" required>
			</mat-form-field>

			<button type="button" mat-icon-button (click)="showPassword = !showPassword">
				<i class="material-icons">{{ showPassword ? 'visibility' : 'visibility_off' }}</i>
			</button>
			
		</mat-card-content>
	</mat-card>

	<div class="ui-fab-container">
		<button type="submit" mat-fab color="primary" [disabled]="!usuarioForm.form.valid">
			<i class="material-icons">{{ usuarioForm.form.valid ? 'save' : 'block' }}</i>
		</button>
	</div>
</form>