<nav>
    <ui-toolbar class="flat"><header>

        <button class="ui-button flat icon" uiRipple (click)="toogleSidenav()">
                <i class="material-icons">arrow_back</i>
        </button>
        
        <span class="title">Selection Control</span>
    
</header>
<div class="ui-toolbar-space"></div>
</ui-toolbar>
    <div class="ui-nav-drawer-overflow">
        <div class="ui-list">
            <!-- home -->
            <a class="ui-list-item" routerlink="/home" href="/home" uiripple>Home</a>
            <!-- recursos -->
            <a class="ui-list-item" routerlink="/recursos" href="/recursos" uiripple>Recursos</a>
            <a class="ui-list-item" routerlink="/recursos/cadastrar" href="/recursos/cadastrar" uiripple>Cadastrar Recurso</a>
            <!-- docentes -->
            <a class="ui-list-item" routerlink="/docentes" href="/docentes" uiripple>Docentes</a>
            <a class="ui-list-item" routerlink="/docentes/cadastrar" href="/docentes/cadastrar" uiripple>Cadastrar Docentes</a>
            <!-- laboratorios -->
            <a class="ui-list-item" routerlink="/laboratorios" href="/laboratorios" uiripple>Laboratorios</a>
            <a class="ui-list-item" routerlink="/laboratorios/cadastrar" href="/laboratorios/cadastrar" uiripple>Cadastrar Laboratorio</a>
            
            <!-- ocorrencias -->
            <a class="ui-list-item" routerlink="/ocorrencias" href="/ocorrencias" uiripple>Ocorrencias</a>
            <a class="ui-list-item" routerlink="/ocorrencias/cadastrar" href="/ocorrencias/cadastrar" uiripple>Cadastrar Ocorrencia</a>
        </div>
    </div>
</nav>