<ui-toolbar class="primary">
    <button class="ui-button flat icon" uiRipple (click)="sidenav.open()">
                <i class="material-icons">menu</i>
            </button>
    <!-- <img class="logo" src="http://smn.com.br/content/img/logotipo/light-lying.svg" alt=""> -->
    <span class="title">FATEC - SRRA | {{ title }}</span>
</ui-toolbar>

<mat-sidenav #sidenav class="sidenav">
    <button class="ui-button flat icon" uiRipple (click)="sidenav.close()">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="ui-list">
        <mat-list>
            <mat-list-item> SRRA </mat-list-item>
            <mat-divider></mat-divider>

            <!-- Home -->
            <mat-list-item>
                <a class="ui-list-item" routerlink="/home" href="/home">
                    <i class="material-icons" style="margin-right: 10px">home</i>
                    Home
                </a>
            </mat-list-item>

            <!-- Docentes -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="ui-list-item">Docentes</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item>
                    <a class="ui-list-item" routerlink="/docentes" href="/docentes">
                        <i class="material-icons" style="margin-right: 10px">person</i>
                        Mostrar Docentes
                    </a>
                </mat-list-item>

                <mat-list-item>
                    <a class="ui-list-item" routerlink="/docentes/cadastrar" href="/docentes/cadastrar">
                        <i class="material-icons" style="margin-right: 10px">person_add</i>
                        Cadastrar Docente
                    </a>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- Recursos -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="ui-list-item">Recursos</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item>
                    <a class="ui-list-item" routerlink="/recursos" href="/recursos">
                        <i class="material-icons" style="margin-right: 10px">computer</i>
                        Mostrar Recursos
                    </a>
                </mat-list-item>

                <mat-list-item>
                    <a class="ui-list-item" routerlink="/recursos/cadastrar" href="/recursos/cadastrar">
                        <i class="material-icons" style="margin-right: 10px">add_box</i>
                        Cadastrar Recurso
                    </a>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- Laboratorios -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="ui-list-item">Laboratorios</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item>
                    <a class="ui-list-item" routerlink="/laboratorios" href="/laboratorios">
                            <i class="material-icons" style="margin-right: 10px">desktop_windows</i>
                            Mostrar Laboratorios
                        </a>
                </mat-list-item>

                <mat-list-item>
                    <a class="ui-list-item" routerlink="/laboratorios/cadastrar" href="/laboratorios/cadastrar">
                            <i class="material-icons" style="margin-right: 10px">add_box</i>
                            Cadastrar Laboratorio
                        </a>
                </mat-list-item>
            </mat-expansion-panel>

            <!-- Ocorrencia de Uso -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <a class="ui-list-item">Ocorrências De Uso</a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list-item>
                    <a class="ui-list-item" routerlink="/ocorrencias" href="/ocorrencias">
                            <i class="material-icons" style="margin-right: 10px">desktop_windows</i>
                            Mostrar Ocorrências
                        </a>
                </mat-list-item>

                <mat-list-item>
                    <a class="ui-list-item" routerlink="/ocorrencias/cadastrar" href="/ocorrencias/cadastrar">
                            <i class="material-icons" style="margin-right: 10px">add_box</i>
                            Cadastrar Ocorrência
                        </a>
                </mat-list-item>
            </mat-expansion-panel>
        </mat-list>
    </div>
</mat-sidenav>

<router-outlet></router-outlet>