<div>
    <ui-toolbar class="primary">
        <button class="ui-button flat icon" uiRipple (click)="toogleSidenav()">
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
            src="http://smn.com.br/content/img/logotipo/light-lying.svg"
            alt="">
        <span class="title">Test</span>

        <div class="align-right">
            <button class="ui-button flat icon" uiRipple>
                <i class="material-icons">notifications</i>
                <span class="badge">1</span>
            </button>
        </div>
    </ui-toolbar>
</div>

<!-- <ul class="navbasic">
    <li><a class="navfirst">{{title}}</a></li>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/customers">Customers</a></li>
    <li><a routerLink="/people">People</a></li>
    <li><a routerLink="/suppliers">Suppliers</a></li>
    <li><a routerLink="/users">Users</a></li>
</ul>
      
      
<div class="app">
    <h3>Our app</h3>
    <router-outlet></router-outlet>
</div> -->

<app-nav [@slideInOut]="menuState"></app-nav>

<router-outlet></router-outlet>