<div>
    <ui-toolbar class="primary">
        <button class="ui-button flat icon" uiRipple>
            <i class="material-icons">menu</i>
        </button>
        <img class="logo"
            src="http://smn.com.br/content/img/logotipo/light-lying.svg"
            alt="">
        <span class="title">Test</span>
        <div class="align-right">
            <button class="ui-button flat icon" uiRipple>
                <i class="material-icons">notifications</i>
                <span class="badge">1</span>
            </button>
        </div>
    </ui-toolbar>
</div>