<div class="ui-s480">
	<form #formGrupo="ngForm" class="ui-validate on-dirty on-submit" (submit)="onSubmit(formGrupo)">
		<ui-card class="elevate-on-toolbar" [class.loading]="loading">
			<div class="ui-progress" [class.hide]="!loading">
				<div class="indeterminate"></div>
			</div>
			<ui-toolbar class="flat">
				<button type="button" class="ui-button flat icon" type="button" uiRipple routerLink="/grupo">
					<i class="material-icons">arrow_back</i>
				</button>
				<div class="align-right" *ngIf="!addingNew">
					<button class="ui-button flat icon" type="button" uiRipple [disabled]="saving || deleting || loading" [uiMenuTrigger]="menuDelete"
					 align="right">
						<i class="material-icons" *ngIf="!deleting">delete</i>
						<ui-progress-radial class="indeterminate" *ngIf="deleting"></ui-progress-radial>
					</button>
				</div>
			</ui-toolbar>

			<ui-card-content>
				<div class="ui-flex-container break-on-s480">
					<ui-input-container>
						<input id="inputNome" #fieldNome="ngModel" type="text" [(ngModel)]="info.nome" uiInput name="nome" required uiMaxlength="50"
						 autocomplete="off">
						<label for="inputNome">Nome</label>
						<div class="ui-messages">
							<div *ngIf="fieldNome.errors && fieldNome.dirty">
								<div class="ui-message error" [hidden]="!fieldNome.pristine && !fieldNome.errors.required">
									Insira o nome do grupo
								</div>
								<div class="ui-message counter error" [hidden]="!fieldNome.errors.uiMaxlength">
									{{ info.nome ? info.nome.length : 0 }}/50
								</div>
							</div>
						</div>
					</ui-input-container>
				</div>

				<br/>
				<span>FUNCIONALIDADES</span>
				<br/>
				<br/>

				<div class="ui-flex-container break-on-s480">
					<ui-option-container class="v-space-4 b-space-16">
						<ui-option style="margin-bottom: 15px;" class="primary" *ngFor="let func of funcionalidades; let i = index;">
							<input type="checkbox" [(ngModel)]="func.active" name="func{{i}}">
							<span>{{ func.nome }}</span>
						</ui-option>
					</ui-option-container>
				</div>
			</ui-card-content>
		</ui-card>
		<div class="ui-fab-container">
			<button class="ui-button success fab" uiRipple [class.hide]="deleting || loading">
				<ui-progress-radial class="indeterminate" *ngIf="saving"></ui-progress-radial>
				<i class="material-icons">check</i>
			</button>
		</div>
	</form>
</div>

<ui-menu #menuDelete>
	<div class="ui-menu-content size-2x">
		<ui-subheader>Deseja excluir?</ui-subheader>
		<div class="ui-menu-item" uiRipple (click)="confirmDelete()">
			Sim
		</div>
		<div class="ui-menu-item" uiRipple>
			Não
		</div>
	</div>
</ui-menu>