<mat-card style="max-width: 600px; margin: auto;">
    <button mat-icon-button routerLink="/home">
        <i class="material-icons">arrow_back</i>
    </button>

    <mat-card-content>
        <mat-form-field style="width: 200px; margin-right: 10px;">
            <mat-select placeholder="Função" name="funcao" [(ngModel)]="filtro.funcao">
                <mat-option value="Todas">
                    Todas
                </mat-option>
                <mat-option *ngFor="let funcao of funcoes" [value]="funcao.id">
                    {{ funcao.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 150px; margin-right: 10px;">
            <input matInput uiMaskCpf type="text" [(ngModel)]="filtro.cpf" name="cpf" placeholder="CPF" autocomplete="off">
        </mat-form-field>

        <mat-form-field style="width: 150px;">
            <input matInput type="number" [(ngModel)]="filtro.matricula" name="matricula" placeholder="Matricula" autocomplete="off">
        </mat-form-field>

        <mat-form-field style="width: 530px;">
            <input matInput type="text" [(ngModel)]="filtro.nome" name="nome" placeholder="Nome" autocomplete="off">
        </mat-form-field>

        <div style="display: flex; flex-direction: row-reverse;">
            <button mat-raised-button color="primary" (click)="filtrar()">
                BUSCAR
            </button>
        </div>
    </mat-card-content>
</mat-card>

<div class="ui-fab-container">
    <button class="ui-button primary fab" uiRipple routerLink="/docentes/novo">
        <i class="material-icons">add</i>
    </button>
</div>