<mat-card style="max-width: 500px; margin: auto;">
    <button mat-icon-button routerLink="/home">
        <i class="material-icons">arrow_back</i>
    </button>

    <mat-card-content>
        <mat-form-field style="width: 200px; margin-right: 10px;">
            <mat-select placeholder="Tipo de Recurso" name="tipoRecurso" [(ngModel)]="filtro.tipo">
                <mat-option value="Todos">
                    Todos
                </mat-option>
                <mat-option *ngFor="let tipo of tipoRecurso" [value]="tipo.id">
                    {{ tipo.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 200px;">
            <mat-select placeholder="Status do Recurso" name="statusRecurso" [(ngModel)]="filtro.status">
                <mat-option value="Todos">
                    Todos
                </mat-option>
                <mat-option *ngFor="let status of statusRecurso" [value]="status.id">
                    {{ status.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 150px; margin-right: 10px;">
            <input matInput type="number" [(ngModel)]="filtro.codigoPatrimonio" name="codigoPatrimonio" placeholder="Codigo do Patrimônio"
                autocomplete="off">
        </mat-form-field>

        <mat-form-field style="width: 250px;">
            <input matInput type="text" [(ngModel)]="filtro.nome" name="nome" placeholder="Nome" autocomplete="off">
        </mat-form-field>

        <div style="display: flex; flex-direction: row-reverse;">
            <button mat-raised-button color="primary" (click)="filtrar()">
                BUSCAR
            </button>
        </div>
    </mat-card-content>
</mat-card>

<div class="ui-fab-container">
    <button class="ui-button primary fab" uiRipple routerLink="/recursos/novo">
        <i class="material-icons">add</i>
    </button>
</div>