<form (ngSubmit)="onSubmit()" #ocorrenciaForm="ngForm">
    <ui-card style="width: 600px; margin: auto;">
        <ui-toolbar class="flat">
            <button type="button" class="ui-button flat icon" routerLink="/ocorrencias" uiRipple>
                <i class="material-icons">arrow_back</i>
            </button>
        </ui-toolbar>

        <ui-card-content>

            
            <!-- <div class="ui-flex-container break-on-s960"> -->
                <ui-input-container>
                    <input type="text" #recursoDrop="ngModel" name="recurso" [(ngModel)]="ocorrencia.recurso" uiInput required uiAutocomplete
                        autocomplete="off" (loadMore)="filtro.pagina = filtro.pagina + 1; recursoDropdown();" [primary]="'nome'" [list]="recursos" [loading]="loading"
                        [select]="selecionarIdRecurso.bind(this)" maxlength="100">
                    <label>Recurso</label>
                </ui-input-container>

                <ui-input-container>
                    <input type="text" #docenteDrop="ngModel" name="docente" [(ngModel)]="ocorrencia.docente" uiInput required uiAutocomplete
                        autocomplete="off" (loadMore)="filtro.pagina = filtro.pagina + 1; docenteDropdown();" [primary]="'nome'" [list]="docentes" [loading]="loading"
                        [select]="selecionarIdDocente.bind(this)" maxlength="100">
                    <label>Docente</label>
                </ui-input-container>


                <div>
                    <ui-input-container>
                      <input type="text" 
                            #ocorencia="ngModel" 
                            name="motorista" 
                            [(ngModel)]="ocorrencia.docente" 
                            uiInput  
                            uiAutocomplete
                            [list]="recursos"
                            [loading]="standalone"
                            [primary]="'nome'" >
                      <label>Ocorrência</label>
                    </ui-input-container>
                  </div>
                <!-- <mat-form-field style="max-width: 300px; width: 100%;">
                    <input matInput placeholder="Recurso" aria-label="Recurso" [matAutocomplete]="autoRecurso" [formControl]="recursoCtrl" name="recurso"
                        [(ngModel)]="ocorrencia.recurso" required>
                    <mat-autocomplete #autoRecurso="matAutocomplete">
                        <mat-option *ngFor="let recurso of filteredRecursos | async" [value]="recurso.nome" (onSelectionChange)="changeRecurso(recurso)">
                            <span>{{ recurso.nome }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field style="max-width: 300px; width: 100%;">
                    <input matInput placeholder="Docente" aria-label="Docente" [matAutocomplete]="autoDocente" [formControl]="docenteCtrl" name="docente"
                        [(ngModel)]="ocorrencia.docente" required>
                    <mat-autocomplete #autoDocente="matAutocomplete">
                        <mat-option *ngFor="let docente of filteredDocentes | async" [value]="docente.nome" (onSelectionChange)="changeDocente(docente)">
                            <span>{{ docente.nome }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->
            <!-- </div> -->

            <div class="ui-flex-container break-on-s960">
                <mat-form-field style="width: 590px;">
                    <input matInput type="text" [(ngModel)]="ocorrencia.detalhes" name="detalhes" placeholder="Detalhes" required>
                </mat-form-field>
            </div>

            <mat-form-field style="max-width: 150px; width: 100%;">
                <input matInput [matDatepicker]="picker" name="data" [(ngModel)]="ocorrencia.data" placeholder="Data" maxlength="10" pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/" required>
            </mat-form-field>

            <mat-datepicker-toggle matSuffix [for]="picker" style="max-width: 40px;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </ui-card-content>
    </ui-card>

    <div class="ui-fab-container">
        <button type="submit" class="ui-button primary fab" uiRipple [disabled]="!ocorrenciaForm.form.valid">
            <i class="material-icons">{{ ocorrenciaForm.form.valid ? 'save' : 'block' }}</i>
        </button>
    </div>
</form>