<div class="ui-s960">
	<ui-card>
		<ui-toolbar class="flat">
			<button class="ui-button flat icon" routerLink="/docentes" href="/docentes" uiRipple>
				<i class="material-icons">arrow_back</i>
			</button>
			<span class="title">Cadastro de Docente</span>
		</ui-toolbar>

		<!--<pre>{{ docente | json }}</pre>-->

		<form (ngSubmit)="cadastrar()">
			<ui-card-content>
				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="number" [(ngModel)]="docente.matricula" name="matricula" uiInput>
						<label>Matricula</label>
					</ui-input-container>

					<ui-input-container>
						<input type="text" [(ngModel)]="docente.nome" name="nome" uiInput>
						<label>Nome</label>
					</ui-input-container>
				</div>

				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="text" [(ngModel)]="docente.email" name="email" uiInput>
						<label>Email</label>
					</ui-input-container>

					<ui-input-container>
						<input type="text" [(ngModel)]="docente.senha" name="senha" uiInput>
						<label>Senha</label>
					</ui-input-container>
				</div>

				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="text" [(ngModel)]="docente.cpf" name="cpf" uiInput uiMaskCpf>
						<label>CPF</label>
					</ui-input-container>

					<ui-option-container class="v-space-4 b-space-16">
						<!-- <div class="info">
							Status
						</div> -->
						<ui-option>
							<input type="radio" name="funcao" [(ngModel)]="docente.funcao" [value]="1">
							<span>Professor</span>
						</ui-option>

						<ui-option>
							<input type="radio" name="funcao" [(ngModel)]="docente.funcao" [value]="2">
							<span>Funcionario</span>
						</ui-option>

            <ui-option>
              <input type="radio" name="funcao" [(ngModel)]="docente.funcao" [value]="3">
              <span>Administrador</span>
            </ui-option>
          </ui-option-container>
				</div>
			</ui-card-content>

			<!-- <div *ngIf="docente.funcao === 2">
				<ui-toolbar class="flat">
					<span class="title">Manutenção</span>
				</ui-toolbar>

				<ui-card-content>
					<div class="ui-flex-container break-on-s960">
						<ui-input-container>
							<input type="text" [(ngModel)]="recurso.motivo" name="motivoManutencao" uiInput>
							<label>motivo</label>
						</ui-input-container>

						<ui-input-container>
							<input type="date" [(ngModel)]="recurso.data" name="dataManutencao" uiInput>
							<label>data</label>
						</ui-input-container>
					</div>
				</ui-card-content>
			</div>

			<div *ngIf="docente.funcao === 3">
				<ui-toolbar class="flat">
					<span class="title">Inativo</span>
				</ui-toolbar>

				<ui-card-content>
					<div class="ui-flex-container break-on-s960">
						<ui-input-container>
							<input type="text" [(ngModel)]="recurso.motivo" name="motivoInativo" uiInput>
							<label>Descrição</label>
						</ui-input-container>

						<ui-input-container>
							<input type="text" [(ngModel)]="recurso.data" name="dataInativo" uiInput>
							<label>data</label>
						</ui-input-container>
					</div>
				</ui-card-content>
			</div> -->

			<div class="ui-button-container cover">
				<button type="submit" class="ui-button raised primary" uiRipple>Salvar</button>
				<button class="ui-button raised error" uiRipple routerLink="/home" href="/home">Cancelar</button>
			</div>
		</form>
	</ui-card>
</div>
