<form (ngSubmit)="onSubmit()" #docenteForm="ngForm">
	<ui-card style="max-width: 650px; margin: auto;">
		<ui-toolbar class="flat">
			<button type="button" class="ui-button flat icon" routerLink="/docentes" uiRipple>
				<i class="material-icons">arrow_back</i>
			</button>
		</ui-toolbar>

		<ui-card-content>
			<mat-form-field style="width: 150px; margin-right: 10px;">
				<input matInput type="number" [(ngModel)]="docente.matricula" name="matricula" placeholder="Matricula" autocomplete="off"
				 required>
			</mat-form-field>

			<mat-form-field style="width: 450px;">
				<input matInput type="text" [(ngModel)]="docente.nome" name="nome" placeholder="Nome" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 350px; margin-right: 10px;">
				<input matInput type="text" [(ngModel)]="docente.email" name="email" placeholder="E-mail" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 250px;">
				<input matInput type="password" [(ngModel)]="docente.senha" name="senha" placeholder="Senha" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 200px;">
				<input matInput type="text" [(ngModel)]="docente.cpf" name="cpf" placeholder="CPF" autocomplete="off" required maxlength="11"
				 pattern="^\d{11}">
			</mat-form-field>

			<ui-option-container class="v-space-4 b-space-16">
				<ui-option>
					<input type="radio" name="funcao" [(ngModel)]="docente.funcao" value="Administrador" required>
					<span>Administrador</span>
				</ui-option>

				<ui-option>
					<input type="radio" name="funcao" [(ngModel)]="docente.funcao" value="Professor" required>
					<span>Professor</span>
				</ui-option>

				<ui-option>
					<input type="radio" name="funcao" [(ngModel)]="docente.funcao" value="Funcionario" required>
					<span>Funcionario</span>
				</ui-option>
			</ui-option-container>
		</ui-card-content>
	</ui-card>

	<div class="ui-fab-container">
		<button type="submit" class="ui-button primary fab" uiRipple [disabled]="!docenteForm.form.valid">
			<i class="material-icons">{{ docenteForm.form.valid ? 'save' : 'block' }}</i>
		</button>
	</div>
</form>