<form (ngSubmit)="onSubmit()" #docenteForm="ngForm">
	<mat-card style="max-width: 700px; margin: auto;">
		<button type="button" mat-icon-button routerLink="/docentes">
			<i class="material-icons">arrow_back</i>
		</button>

		<mat-card-content>
			<mat-form-field style="width: 150px; margin-right: 10px;">
				<input matInput type="number" [(ngModel)]="docente.matricula" name="matricula" placeholder="Matricula" autocomplete="off"
				 required>
			</mat-form-field>

			<mat-form-field style="width: 450px;">
				<input matInput type="text" [(ngModel)]="docente.nome" name="nome" placeholder="Nome" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 350px; margin-right: 10px;">
				<input matInput type="text" [(ngModel)]="docente.email" name="email" placeholder="E-mail" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 250px;">
				<input matInput type="password" [(ngModel)]="docente.senha" name="senha" placeholder="Senha" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field style="width: 200px;">
				<input matInput type="text" [(ngModel)]="docente.cpf" name="cpf" placeholder="CPF" autocomplete="off" required maxlength="11"
				 pattern="^\d{11}">
			</mat-form-field>

			<mat-form-field style="margin-left: 10px; top: -2px;">
				<mat-select placeholder="Selecione uma função" name="funcao" [(ngModel)]="docente.funcao" required>
					<mat-option *ngFor="let funcao of funcoes" [value]="funcao.id">
						{{ funcao.nome }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-content>
	</mat-card>

	<div class="ui-fab-container">
		<button type="submit" mat-fab color="primary" [disabled]="!docenteForm.form.valid">
			<i class="material-icons">{{ docenteForm.form.valid ? 'save' : 'block' }}</i>
		</button>
	</div>
</form>