<div class="ui-s960">
	<ui-card>
		<ui-toolbar class="flat">
			<button class="ui-button flat icon" routerLink="/recursos" href="/recursos" uiRipple>
				<i class="material-icons">arrow_back</i>
			</button>
		</ui-toolbar>

		<!-- <pre>{{ recurso | json }}</pre> -->

		<form (ngSubmit)="onSubmit()">
			<ui-card-content>
				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="number" [(ngModel)]="recurso.codigo" name="codigo" uiInput>
						<label>Codigo</label>
					</ui-input-container>

					<ui-input-container>
						<input type="text" [(ngModel)]="recurso.nome" name="nome" uiInput>
						<label>Nome</label>
					</ui-input-container>
				</div>

				<div class="ui-flex-container break-on-s960">
					<ui-input-container>
						<input type="text" [(ngModel)]="recurso.descricao" name="descricao" uiInput>
						<label>Descrição</label>
					</ui-input-container>

					<ui-input-container>
						<input type="text" [(ngModel)]="recurso.itens" name="itens" uiInput>
						<label>itens</label>
					</ui-input-container>
				</div>

				<div class="ui-flex-container break-on-s960">
					<ui-option-container class="v-space-4 b-space-16">
						<div class="info">
							Status
						</div>
						<ui-option>
							<input type="radio" name="recursoStatus" [(ngModel)]="recurso.status" [value]="'Disponivel'">
							<span>Disponivel</span>
						</ui-option>

						<ui-option>
							<input type="radio" name="recursoStatus" [(ngModel)]="recurso.status" [value]="'Em Manutenção'">
							<span>Em Manutenção</span>
						</ui-option>

						<ui-option>
							<input type="radio" name="recursoStatus" [(ngModel)]="recurso.status" [value]="'Inativo'">
							<span>Inativo</span>
						</ui-option>
					</ui-option-container>
				</div>
			</ui-card-content>

			<div *ngIf="recurso.status === 'Em Manutenção' || recurso.status === 'Inativo'">
				<ui-toolbar class="flat">
					<span class="title">Manutenção</span>
				</ui-toolbar>

				<ui-card-content>
					<div class="ui-flex-container break-on-s960">
						<ui-input-container>
							<input type="text" [(ngModel)]="recurso.motivo" name="motivo" uiInput>
							<label>Motivo</label>
						</ui-input-container>


						<ui-input-container style="max-width: 200px; padding-left: 20px;">
							<input uiInput [matDatepicker]="picker" name="data" [(ngModel)]="recurso.data">
							<label>Data</label>
						</ui-input-container>
	
						<mat-datepicker-toggle matSuffix [for]="picker" style="margin-top: 20px;"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</div>
				</ui-card-content>
			</div>

			<div class="ui-button-container cover">
				<button type="submit" class="ui-button raised success" uiRipple>SALVAR</button>
				<button type="button" mat-button color="warn" routerLink="/recursos" href="/recursos">CANCELAR</button>
			</div>
		</form>
	</ui-card>
</div>