<div class="ui-s480">
    <ui-card class="elevate-on-toolbar">
        <div class="ui-progress" [class.hide]="!loading">
            <div class="indeterminate"></div>
        </div>
        <ui-toolbar class="flat">
            <button type="button" class="ui-button flat icon" routerLink="/">
                <i class="material-icons">arrow_back</i>
            </button>
            <div class="align-right">
                <button class="ui-button flat icon" uiRipple title="Filtrar" (click)="filterOpen = !filterOpen">
                    <i class="material-icons">filter_list</i>
                </button>
            </div>
        </ui-toolbar>

        <div *ngIf="filterOpen" style="overflow: hidden; padding: 0 16px;">
            <div class="ui-flex-container break-on-s960">
                <ui-input-container>
                    <input id="inputNome" #searchNomeUsuario="ngModel" type="text" [(ngModel)]="filtro.nome" uiInput name="nome" required uiMaxlength="250"
                        autocomplete="off" (keyup)="search(searchNomeUsuario.value)">
                    <label for="inputNome">Nome</label>
                </ui-input-container>

                <ui-input-container>
                    <ui-select #fieldGrupo="ngModel" name="grupo" [(ngModel)]="filtro.idGrupo" [options]="grupos" value="id" label="nome" uiInput
                        id="inputGrupo" (ngModelChange)="getUsuarios()" required></ui-select>
                    <label for="inputGrupo">
                        Grupo
                    </label>
                </ui-input-container>
            </div>

            <div class="ui-flex-container break-on-s960">
                <ui-input-container>
                    <input id="inputCpf" #searchCpfUsuario="ngModel" type="text" [(ngModel)]="filtro.cpf" uiInput uiMaskCpf name="cpf" required
                        autocomplete="off" (keyup)="search(searchCpfUsuario.value)">
                    <label for="inputCpf">CPF</label>
                </ui-input-container>

                <ui-input-container>
                    <input id="inputMatricula" #searchMatriculaUsuario="ngModel" type="text" [(ngModel)]="filtro.matricula" uiInput name="matricula"
                        required autocomplete="off" (keyup)="search(searchMatriculaUsuario.value)">
                    <label for="inputMatricula">Matricula</label>
                </ui-input-container>
            </div>

            <div class="ui-flex-container break-on-s480">
                <ui-input-container>
                    <input id="inputEmail" #searchEmailUsuario="ngModel" type="text" [(ngModel)]="filtro.email" uiInput name="email"
                        required autocomplete="off" (keyup)="search(searchEmailUsuario.value)">
                    <label for="inputEmail">E-mail</label>
                </ui-input-container>
            </div>
        </div>

        <ui-data-table class="responsive">
            <tbody>
                <tr>
                    <th>Nome</th>
                    <th>Grupo</th>
                    <th class="align-right"></th>
                </tr>
                <tr *ngFor="let usuario of usuarios; let index = index" [routerLink]="['/usuario', usuario.id]">

                    <td data-title="Nome">{{ usuario.nome }}</td>
                    <td data-title="Grupo">{{ usuario.grupo }}</td>
                    <td class="align-right">
                        <button class="ui-button flat icon" uiRipple (click)="prepararExcluir($event, usuario)" [uiMenuTrigger]="menuDelete" align="right">
                            <i class="material-icons" style="color: black;">delete</i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!usuarios || !usuarios.length">
                    <td colspan="3" style="text-align: center">{{'Nenhum usuario encontrado'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="align-right">
                        <div class="ui-button-container align-right">
                            <span class="pagination">
                                Pagina: {{ filtro.pagina }} de {{ totalPaginas ? totalPaginas : 1 }} -- Registros: {{ totalRegistros ? totalRegistros : 0 }}
                            </span>
                            <button class="ui-button flat icon" uiRipple [disabled]="filtro.pagina < 2" (click)="filtro.pagina = filtro.pagina - 1; getUsuarios();">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                            <button class="ui-button flat icon" uiRipple [disabled]="filtro.pagina == totalPaginas || !totalRegistros" (click)="filtro.pagina = filtro.pagina + 1; getUsuarios();">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>

    <div class="ui-fab-container">
        <button class="ui-button accent fab" uiRipple title="Adicionar Usuario" routerLink="/usuario/novo">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<ui-menu #menuDelete>
    <div class="ui-menu-content size-2x">
        <ui-subheader>Deseja excluir ?</ui-subheader>
        <div class="ui-menu-item" uiRipple (click)="confirmDelete()">
            Sim
        </div>
        <div class="ui-menu-item" uiRipple>
            Não
        </div>
    </div>
</ui-menu>