.pageLogin {
    min-height: 450px;
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 15px;
}

ui-card {
    width: 350px;
    margin: 20% auto;
}

#nomeLogin {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 100;
}

.avatar {
    background-color: #3f51b5;
    color: white;
    width:100px;
    height:100px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
}
  
.avatar img {
    background-color: rgb(216, 27, 96);
    color: white; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}