<ui-card style="width: 700px; margin: auto;">
    <ui-toolbar class="flat">
        <button mat-icon-button routerLink="/docentes/filtro">
            <i class="material-icons">arrow_back</i>
        </button>
    </ui-toolbar>

    <ui-data-table>
        <tbody>
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Função</th>
                <th class="align-right"></th>
            </tr>

            <tr *ngFor="let docente of docentes">
                <td>{{ docente.matricula }}</td>
                <td>{{ docente.nome }}</td>
                <td>{{ docente.cpf }}</td>
                <td>{{ docente.funcao }}</td>
                <td class="align-right">
                    <button class="ui-button flat icon" style="cursor: pointer;" uiRipple [routerLink]="['/docentes/info', docente.id]">
                        <i class="material-icons">edit</i>
                    </button>

                    <button class="ui-button flat icon" style="cursor: pointer;" uiRipple (click)="deletar(docente.id)">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="buscando">
                <td colspan="5">
                    <ui-progress-radial class="indeterminate"></ui-progress-radial>
                </td>
            </tr>
            <tr *ngIf="!docentes">
                <td colspan="5">Nenhum registro encontrado...</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4" class="align-right">
                    <div class="ui-button-container align-right">
                        <span class="pagination">
                            {{ filtro.pagina }} - {{ totalPaginas }} - REGISTROS: {{ totalRegistros }}
                        </span>
                        <button class="ui-button flat icon" uiRipple (click)="voltarPagina()" [disabled]="filtro.pagina == 1">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="ui-button flat icon" uiRipple (click)="proximaPagina()" [disabled]="filtro.pagina == totalPaginas">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </ui-data-table>
</ui-card>

<div class="ui-fab-container">
    <button mat-fab color="primary" routerLink="/docentes/novo">
        <i class="material-icons">add</i>
    </button>
</div>