<div class="ui-s480">
    <ui-card class="elevate-on-toolbar">
        <div class="ui-progress" [class.hide]="!loading">
            <div class="indeterminate"></div>
        </div>
        <ui-toolbar class="flat">
            <button class="ui-button flat icon" routerLink="/">
                <i class="material-icons">arrow_back</i>
            </button>
            <div class="align-right">
                <button class="ui-button flat icon" uiRipple (click)="filterOpen = !filterOpen">
                    <i class="material-icons">filter_list</i>
                </button>
            </div>
        </ui-toolbar>

        <div *ngIf="filterOpen" style="overflow: hidden; padding: 0 16px;">
            <form #searchForm="ngForm" name="searchForm" class="ui-validate on-dirty" [ngClass]="{'open': searchOpen}">
                <div class="ui-flex-container break-on-s480">
                    <ui-input-container>
                        <input #searchFormDataInicio="ngModel" type="text" name="dataInicio" [(ngModel)]="filtro.dataInicio" uiInput [uiDatePicker]="dataInicio"
                            uiMaskDate [persistPlaceholder]="true" placeholder="Data Inicio" (keyup)="search(searchFormDataInicio.value)">
                        <div class="icon">
                            <button type="button" class="ui-button icon flat" [uiDatePickerCaller]="dataInicio">
                                <i class="material-icons">today</i>
                            </button>
                        </div>
                    </ui-input-container>

                    <ui-input-container>
                        <input #searchFormDataFim="ngModel" type="text" name="dataFim" [(ngModel)]="filtro.dataFim" uiInput [uiDatePicker]="dataFim"
                            uiMaskDate [persistPlaceholder]="true" placeholder="Data Fim" (keyup)="search(searchFormDataFim.value)">
                        <div class="icon">
                            <button type="button" class="ui-button icon flat" [uiDatePickerCaller]="dataFim">
                                <i class="material-icons">today</i>
                            </button>
                        </div>
                    </ui-input-container>
                </div>

                <div class="ui-flex-container break-on-s480">
                    <ui-input-container>
                        <input #searchFormLocal="ngModel" type="text" name="local" [(ngModel)]="filtro.local" uiInput [persistPlaceholder]="true"
                            placeholder="Local" (keyup)="search(searchFormLocal.value)">
                    </ui-input-container>
                </div>

                <div class="ui-flex-container break-on-s480">
                    <ui-input-container>
                        <ui-select uiInput id="inputRecurso" name="recurso" [(ngModel)]="filtro.idRecurso" [options]="recursos" value="id" label="nome"
                            (ngModelChange)="selecionar()">
                        </ui-select>
                        <label for="inputRecurso">Recurso</label>
                    </ui-input-container>

                    <ui-input-container>
                        <ui-select uiInput id="inputUsuario" name="usuario" [(ngModel)]="filtro.idUsuario" [options]="usuarios" value="id" label="nome"
                            (ngModelChange)="selecionar()">
                        </ui-select>
                        <label for="inputUsuario">Usuario</label>
                    </ui-input-container>
                </div>
            </form>
        </div>

        <ui-data-table>
            <tbody>
                <tr>
                    <th>Recurso</th>
                    <th>Status</th>
                    <th>Usuario</th>
                    <th class="align-right"></th>
                </tr>

                <tr id="tr-list" *ngFor="let ocorrencia of ocorrencias" [routerLink]="['/ocorrencia', ocorrencia.id]">
                    <td>{{ recurso.recurso }}</td>
                    <td>{{ recurso.status }}</td>
                    <td>{{ recurso.usuario }}</td>
                    <td class="align-right">
                        <button class="ui-button flat icon" uiRipple (click)="prepararExcluir($event, recurso)" [uiMenuTrigger]="menuDelete" align="right">
                            <i style="color: black;" class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!ocorrencias || !ocorrencias.length">
                    <td style="text-align: center;" colspan="4">Nenhum registro encontrado...</td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="4" class="align-right">
                        <div class="ui-button-container align-right">
                            <span class="pagination">
                                Página {{ filtro.pagina }} de {{ filtro.totalRegistros ? totalPaginas : 1 }} Registros: {{ totalRegistros }}
                            </span>
                            <button class="ui-button flat icon" uiRipple (click)="voltarPagina()" [disabled]="filtro.pagina == 1">
                                <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                            <button class="ui-button flat icon" uiRipple (click)="proximaPagina()" [disabled]="filtro.pagina == totalPaginas || !totalRegistros">
                                <i class="material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>

    <div class="ui-fab-container">
        <button class="ui-button accent fab" uiRipple routerLink="/ocorrencia/novo">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>